appdirs==1.4.3
asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
backcall==0.1.0
black==19.3b0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
constantly==15.1.0
cryptography==2.7
cssselect==1.1.0
decorator==4.4.0
et-xmlfile==1.0.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipython==7.7.0
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.15.1
loguru==0.3.2
lxml==4.4.1
numpy==1.17.0
openpyxl==2.6.3
pandas==0.25.0
parsel==1.5.2
parso==0.5.1
pickleshare==0.7.5
prompt-toolkit==2.0.9
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.4.2
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
python-dateutil==2.8.0
pytz==2019.2
queuelib==1.5.0
requests==2.22.0
Scrapy==1.8.1
scrapy-user-agents==0.1.1
selenium==3.141.0
service-identity==18.1.0
six==1.12.0
toml==0.10.0
traitlets==4.3.2
Twisted==19.7.0
ua-parser==0.8.0
urllib3==1.25.3
user-agents==2.0
w3lib==1.21.0
wcwidth==0.1.7
win32-setctime==1.0.1
zope.interface==4.6.0

